<div class="panel-heading">
  <h1>About</h1>
</div>
<div class="form-group">
  <p>We Watch We Review is a movie review site intended to allow users to view reviews from their friends instead of critics or strangers online with no context to their personality.</p>
  <p>This was my first project in General Assembly's Web Development Immersive. The project is on hold until more features can be added.</p>
  <p>Upcoming features:
    <ul>
      <li>Connect to Rotten Tomatoes API to pull in data for each movie</li>
      <li>Add a search feature for movies that have not been reviewed yet</li>
      <li>Add friends</li>
      <li>Connect a front-end JavaScript framework</li>
      <li>Add better CSS than the standard Bootsrap colors :)</li>
    </ul>
  </p>
  <p>To be realistic, I will probably pick this back up after I am able to get a job because 1) this is a fun concept, 2) there are other projects I want to work on now until then and 3) I need to prepare for getting said job :)</p>
  <p>I apologize for Heroku not allowing the login page to work currently. If you're interested in checking out the code (and upcoming features) on Github, you can find it here: <a href='https://github.com/goodeats/wewatchwereview'>WeWatchWeReview</a> or visit my personal website at <a href='http://www.patneedham.me'>www.patneedham.me</a>. Thanks!</p>
</div>
