<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>Movie Reviews</h1>
    </div>
  </div>
  <div class="panel-body">
    <% @reviews.each do |review| %>
      <div>
        <ul>
          <li><%= link_to review.title, review_path(review.id) %></li>
        </ul>
      </div>
    <% end %>

  </div>
</div>
